body{
    font-family: 'DM Sans', sans-serif;

    background-color: white;
}
section{
    text-align: center;
}
.game--container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 50px auto;
}
.cell{
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 01px black;
    border: 1px solid black;
    line-height: 1px;
    font-size: 60px;
}
button{
    color: black;
    font-family:'DM Sans', sans-serif ;
    box-shadow: 0 3px grey;
}