body{
    font-family: 'DM Sans', sans-serif;
}
section{
    text-align: center;
}
.game--container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 200px;
    margin: 50px auto;
}
.cell{
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 50 50 50 50px black;
    border: 2px solid black;
    line-height: 50px;
    font-size: 60px;
}
